@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Epilogue:ital,wght@1,900&family=Young+Serif&display=swap');
@font-face {
    font-family: 'TAKI';
    src: url("/css/fonts/TAKIDEMO-iueiie.otf") format("opentype");
}

/* font-family: 'Caprasimo', serif;
font-family: 'Epilogue', sans-serif;
font-family: 'Young Serif', serif; */

/* White color for font #f9e5e4 */
    /* PERFECT OFF WHITE color: #faf9f6;   */
/*  PERFECT NAVY BLUE #17255b */
/* BLUE IS USE ALOT #81a6c1 */
/* brown #2e251d */

body {
    padding: 0; 
    margin: 0; 
}
/* ALL PAGES */
.login, .navigation, .profile, .accountCreation, .explore, .error {
    background-color: #faf9f6;
    font-family: 'TAKI';
    margin: auto;
    color: #2e251d;
}

.accountCreation h1, .accountCreation h2 {
    text-align: center;
}
.accountCreation h1 {
    margin-top: 10%;
}
/* PROFILE AND EXPLORE PAGE */

/* ALL POSTS */
.post {
    /* min-height: 2vh; */
    width: 90%;
    border-radius: 20px;
    border: 2px solid #2e251d; 
    margin-bottom: 2%;
    box-shadow: 0px 0px 0px 1px inset #2e251d, 8px 8px 0px -3px #81a6c1, 8px 8px #2e251d
}
.post:nth-child(4n+2) {
    box-shadow: 0px 0px 0px 1px inset #2e251d, 8px 8px 0px -3px #aac9ce, 8px 8px #2e251d
}
.post:nth-child(4n+3) {
    box-shadow: 0px 0px 0px 1px inset #2e251d, 8px 8px 0px -3px #a6a0c7, 8px 8px #2e251d
}
.post:nth-child(4n+4) {
    box-shadow: 0px 0px 0px 1px inset #2e251d, 8px 8px 0px -3px #e3aeb8, 8px 8px #2e251d
}
#postInfoGeneral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#exploreGeneral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#exploreTitle {
    flex: 60%;
    width: auto;
}
#exploreSort {
    flex:40%;
    width: auto;
}
.post p {
    margin-left: 4%;
    font-family: 'Young Serif', serif;
    font-size: 20px;
}

#postInfoDate{
    flex: 60%;
    width: 95%;
    margin-left: 2%;
    font-size: 18px;
    height: auto;
}
  
#postInfoHeart {
    flex: 40%;
    width: 95%;
    font-size: 18px;
    margin-bottom: 1%;
    height: auto;
}

.profile #postInfoDate{
    flex: 60%;
    width: 95%;
    margin-left: 2%;
    font-size: 18px;
}

.profile #postInfoHeart {
    flex: 20%;
    font-size: 18px;
    margin-bottom: 1%;

}

.profile #postDelete {
    flex: 10%;
    /* width: 95%; */
    font-size: 18px;
    margin-bottom: 1%;
    /* height: auto; */
}
.gg-pen{
    padding: 10%;
}
.bx-edit-alt {
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 25%;
}
.profile #postEdit {
    flex: 10%;
    font-size: 18px;
    margin-bottom: 1%;
}

#like, .deletePostBtn, .EditPostBtn {
    margin: auto;
    align-self: flex-end;
    border: 3px solid #2e251d;
    padding: 1rem;
    border-radius: 3rem;
    display: inline-block;
    padding: 0.5em;
}
.profile i {
    margin: auto;
}
.deletePostBtn, .EditPostBtn {
    cursor: pointer;
    padding: 1rem;
    height: 3.5em;
    width: 3.5rem;
    align-self: center;
    background-color: transparent;
}

.EditPostBtn {
    height: 3.5em;
    position: relative;
}

.deletePostBtn:hover {
    color: rgb(211, 38, 78);
}

.EditPostBtn:hover {
    color: #e3aeb8;
}

/* .profile span {
    margin-left: 60%; 
} */

.button-like {
    /* box-shadow: 0px 0px 0px 1px inset #e3aeb8, 8px 6px 0px -3px #96b4ca, 8px 6px #2e251d; */
    margin-left: 66%;
    margin-bottom: 1%;
    font-family: 'Young Serif', serif;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid #2e251d;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #2e251d;
    transition: all ease 0.4s;
}

.button-like span {
    margin-left: 0.5rem;
}
  
.button-like .fa,
.button-like span {
    transition: all ease 0.4s;
}
  
.button-like:focus {
    background-color: transparent;
}
  
.button-like:focus .fa,
  .button-like:focus span {
    color: #2e251d;
}
  
.button-like:hover {
    border-color: #e3aeb8;
    background-color: transparent;
}
  
.button-like:hover .fa,
.button-like:hover span {
    color: #e3aeb8;
}

/* Once liked... */

.liked {
    background-color: #e3aeb8;
    border-color: #e3aeb8;
}
  
.liked .fa, .liked span {
    color: #fefefe;
}
  
.liked:focus {
    background-color: #e3aeb8;
}
  
.liked:focus .fa, .liked:focus span {
    color: #fefefe;
  }
  
.liked:hover {
    background-color: #e3aeb8;
    border-color: #e3aeb8;
}
  
.liked:hover .fa, .liked:hover span {
    color: #fefefe;
}


/* ALL TEXT BOXES */
input[type=text] {
    /* border-radius: 20px; */
    font-family: 'Young Serif', serif;
    font-size: 18px;
    border: 3px solid #2e251d;
    background-color: #e3aeb8;
}
input[type=text]:focus {
    font-family: 'Young Serif', serif;
    font-size: 18px;
    outline: none;
    border: 3px solid #2e251d;
    background-color: #c9bbc8;
    /* background-color: #aacfea; */
    /* border-radius: 20px;
    border: 3px solid #753cb6; */
}
textarea {
    font-family: 'Young Serif', serif;
    font-size: 18px;
    border: 3px solid #2e251d;
    resize: none;
    background-color: transparent;
    outline: transparent;
}
textarea:focus {
    outline: #81a6c1;
}

/* LOGIN PAGE */
.login h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0em;
    /* margin-top: 1em; */
}

#un, #pw {
    border-radius: 20px;
    /* border: 2px solid #81a6c1; */
    padding: 2%; 
    width: 100%;
    height: 2%; 
}

label[for="un"], label[for="pw"] {
    font-size: 19px;
}
.out{
    font-family: 'Young Serif', serif;
    display: block;
    margin: auto;
    margin-top: 1%;
    width: 50%;
    border-radius: 20px;
}
/* LOGIN BUTTONS */
#loginBtn, #createAcctBtn {
    font-family: 'Young Serif', serif;
    color: #2e251d;
    font-size: 18px;
    outline: none;  
    cursor: pointer;
    background-color: #96b4ca;
    border: #f3e6d2;
    border-radius: 14px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 2%;
    height: 3em;
    width: 100%;
}
#loginBtn:hover, #statusBtn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 4px #96b4ca;
}
#createAcctBtn {
    background-color: #aac9ce;
}
#createAcctBtn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 4px #aac9ce;
}
#loginPic {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
}
/* NAV BAR */
nav {
    font-size: 40px;
    background-color: #faf9f6;
    width: 100%;
    height: 10%;
    /* background-image:linear-gradient(to right,#f9967f, #fe676e);  */
    overflow: auto;
    /* border-bottom: 1px solid #3d1e1d; */
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
nav ul li {
    width: 20%;
    
}
nav ul li img{
    width: 50%;
}
nav ul li a{
    align-items: center;
    justify-content: center;
}

/* button */
#toggle {
    font-family: 'TAKI';
    font-size: 25px;
    color: #2e251d; 
    border: #2e251d 2px solid;
    background-color: #96b4ca;
    padding: 4%;
    border-radius: 3rem;
    width: 70%;
}

#toggle:hover { 
    color: #faf9f6; 
    background-color: #184066;
    border: #2e251d 2px solid;
}
      

.link { 
    /* font-family: 'TAKI'; */
    color: #2e251d; 
    text-decoration: none;
} 

.link:hover { 
    color: #81a6c1; 
}

/* PROFILE TAB */
.profileContainer {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-color: #faf9f6;
    overflow: visible
}
.profileContainer h2 {
    font-family: 'TAKI';
    font-size: 30px;
    color: #2e251d; 
    margin-left: 5%;
}
.leftDiv {
    flex: 60%;
    width: 95%;
}
.leftDiv h2 {
    margin-bottom: 4%;
}
.leftDiv .post {
    margin-left: 4%;
    margin-bottom: 5%;

}
  
.rightDiv {
    flex: 40%;
    width: 95%;
}
.postDiv {
    margin-top: 2rem;
}
/* .createPostDiv {
    height:auto;
} */
#postTextBoxDiv {
    box-sizing:border-box;
    border: 2px solid #2e251d;
    border-radius: 20px;
    /* height: 70%; */
    /* margin-top: 2rem;
    margin-right: 2rem; */
    padding-bottom: 1.5rem;
    width: 90%;
    box-shadow: 0px 0px 0px 1px inset #2e251d, 8px 8px 0px -3px #81a6c1, 8px 8px #2e251d
}
#postText {
    margin-top: 2.5%;
    margin-left: 2.5%;
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    min-height: 14em;
    height: auto;
}
/* button */
.makePost {
    background-color: #e3aeb8;
    border: #f3e6d2;
    border-radius: 14px;
    margin-left: 5%;
    margin-top: 2%;
    height: 2em;
    width: 30%;
}


/* EXPLORE and PROFILE PAGE */
.explore h3, .profile h3 {
    font-family: 'Young Serif', serif; 
    font-size: 25px;
    color: #2e251d; 
    margin-left: 2%;
}
.explore  .username {
    font-family: 'Young Serif', serif; 
    font-size: 24px;
}
.postContainer h2 {
    font-family: 'TAKI';
    font-size: 30px;
    color: #2e251d; 
    /* margin-left: 5%; */
}
.postContainer h3 {
    font-family: 'TAKI';
    font-size: 20px;
    color: #2e251d; 
}
.postContainer {
    margin-left: 5%;
}

/* button */
.sortBtn {
    font-family: 'Young Serif', serif;
    width: 15em;
    margin-left: 20%;
    margin-bottom: 1%;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid #2e251d;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #2e251d;
    transition: all ease 0.4s;
}

.sortBtn span {
    margin-left: 0.5rem;
}
  
.sortBtn,
 .button-like span {
    transition: all ease 0.4s;
}
  
.sortBtn:focus {
    background-color: transparent;
}
  
.sortBtn:focus,
  .sortBtn:focus span {
    color: #2e251d;
}
  
/* PAGE NAV */

#postPages {
    font-family: 'Young Serif', serif;
    text-align: center;
}

#postPages a {
    text-decoration: none;
    color: #2e251d;
}

#postPages a:hover {
    color:#aac9ce;
}












/* .sortBtn:hover {
    border-color: #e3aeb8;
    background-color: transparent;
} */
  
/* .sortBtn:hover .fa,
.sortBtn:hover span {
    color: #e3aeb8;
} */

/* Once liked... */

.sortByLikes {
    background-color: transparent;
    border-color: #81a6c1;
}
  
.sortByLikes, .sortByLikes span {
    color: #2e251d;
}
  
.sortByLikes:focus {
    background-color: transparent;
}
  
.sortByLikes:focus,
  .sortByLikes:focus span {
    color: #81a6c1;
}
/* .sortByLikes:hover {
    background-color: #e3aeb8;
    border-color: #e3aeb8;
} */
  
.sortByLikes:hover .fa, .sortByLikes:hover span {
    color: #81a6c1;
}












.makePostBtn {
    font-family: 'Young Serif', serif;
    color: #2e251d;
    font-size: 20px;
    outline: none;  
    cursor: pointer;
    border: 3px solid #e3aeb8;
    background-color: #faf9f6;
    border-radius: 5rem;
    height: 2em;
    width: 25%;
    margin-left: 5%;
    margin-top: 2%;
}
.makePostBtn:hover {
    background-color: #e3aeb8;
    color: #faf9f6;
}

.bottomDiv {
    margin-top: 20%;
}

.postDiv {
    padding-bottom: 10%;
}
/* OTHER */
/* .flower {
    border: none;
    border-top: 3px double #e55e5b;
    color: #e55e5b;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.flower:after {
    background: #f4e1c3;
    content: '•°•✿•°•';
    padding: 0 4px;
    position: relative;
    top: -13px;
} */

/* .banner {
    font-size: 25px;
    width: 40%;
    height: 1em;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    border: 3px solid #e57371;
    background-color: #e57371;
    box-shadow: -8px 8px #b53d3b;
} */

/* .mainpage h1 {
    font-family: 'Caprasimo', serif;
    font-size: 70px;
    text-align: center;
    font-style:oblique;
    color: #e55e5b;
    text-shadow: -6px 5px #3d1e1d, -7px 6px #3d1e1d, -8px 6px #3d1e1d,-9px 7px #3d1e1d;
    margin-bottom: 1%;
    margin-top: 1%;
} */

/* .mainpage h2 {
    font-family: 'TAKI DEMO';
    color: #3d1e1d;
    font-size: 25px;
    text-align: center;
    font-style: oblique;
} */

/* .mainpage img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
} */

/* #maintext {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fc7f76;
    border-radius: 45px;
    padding: 1%;
    padding-left: 3%;
} */

/* em {
    color: #0081a7;
} 
#maintext p strong {
    color: #723e7c;
}

.contactform h1 {
    text-align: center;
    color: #3d1e1d;
}

.input {
    margin: 1%;
    font-family: 'Young Serif', serif;
}

.testimonies h1 {
    text-align: center;
    color: #3d1e1d;
}

#video {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: #fc7f76;
    padding: 2%;
    border-radius: 40px;
} */

/* .container{
    display:flex; 
    flex-wrap: wrap;
}

.review { 
    padding: 2%;
    width: 40%;
    background-color: #fc7f76;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 25px;
    border: #3d1e1d solid 2px;
} */

/* .reviewer-name {
    text-align: right;
    font-style:oblique;
}

.contactlog h1 {
    text-align: center;
    color: #3d1e1d;
}

.appointment, .failure h1, h2 {
    text-align: center;
    color: #3d1e1d;
} */

/* .update_banner{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding: 2%;
    border: #3d1e1d solid 2px;
    background-color: #e55e5b;
    border-radius: 20px;
}
#buttons {
    margin-left: 4%;
    margin-right: auto;
} */
/* #message {
    font-family: 'Young Serif', serif;
    margin: 1%;
}
.setButton {
    font-size: 15px;
    background-color: #f3e6d2;
    font-family: 'Young Serif', serif;
    outline: none; 
    border: #f3e6d2;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10%;
    margin-top: 2%;
}
.setButton:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 4px #f3e6d2;
}

.delButton {
    font-size: 15px;
    background-color: #f3e6d2;
    font-family: 'Young Serif', serif;
    outline: none; 
    border: #f3e6d2;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 2%;
}
.delButton:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 4px #f3e6d2;
} */
/* 
.contact {
    margin-top: 3%;
    width: 75%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.contact td, th {
    text-align: center;
    border: 2px solid #3d1e1d;
	padding: 8px;
    text-decoration: none;
}
.contact th {
    background-color: #e55e5b;
}
.contact tr:nth-child(odd) { 
    background-color: #efa7a2; 
} 
.contact tr:nth-child(even) { 
    background-color: #f3e6d2; 
} 
.contact a {
    text-decoration: none;
    color: #3d1e1d;
}
.contact a:hover { 
    color: #dd3e5e; 
} 
.delete {
    font-family: 'Young Serif', serif;
    background-color: #e55e5b;
    font-size: large;
    padding: 4%;
    color: #3d1e1d;
    width: 100%;
    height: 100%;
    cursor: pointer;
}  */
