nav.navigation
      ul
        li
          a.link(href='/logout') logout 
        li
          a.link(href='/profile') profile
          //- button#profile(type='button') profile
        li
          img#navLogo(src='/images/nav.png', alt='Tiny Chat Logo', width="270")
        li
          a.link(href='/explore') explore
