doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title accountCreation
    link#style(rel='stylesheet', href='/css/main.css')
    script(src='/js/login.js', defer='')
    script(src='/js/main.js', defer='')
  body.accountCreation
    h1  Successfully created an Account
    h2  
        a.link(href='/login') login here 